*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	line-height:1.6;
	font-family:Arial,sans-serif;
}
.active{
	color:#4CAF50;
}
header{
	background-color:white;
	box-shadow:0px 0px 4px #333333;
	display:flex;
	justify-content:space-between;
	align-items:center;
	text-align:center;
	position:sticky;
	top:0;
	z-index:100;
	}
	.logo{
		display:flex;
		justify-content:center;
		align-items:center;
		color:#4CAF50;
		
	}
	.logo img{
		height:90px;
		width:auto;
	}
nav ul {
		display:flex;
		gap:15px;
		margin:20px;
		
		
	}
nav ul li{
		list-style:none;
	}
nav ul li a{
	text-decoration:none;
	font-weight:bold;
	color:black;
}
.hero-container{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("./images/3.jpg");
	background-size:cover;
	background-position:center;
	min-height:70vh;
		display:flex;
	justify-content:center;
	align-content:center;
	text-align:center;
	padding-top:100px;
	color:white;
		font-weight:bold;

}
.hero-content h1{
	font-size:3em;
}
.hero-content p{
	font-size:2em;
}
.cta-buttons{
	margin:20px;
}
.learn{
	background:transparent;
	border:2px solid #4CAF50;
	padding:10px;
}
.learn{
	background:transparent;
	border:1px solid #4CAF50;
	padding:10px;
	color:#4CAF50;
	text-decoration:none;
}
.cont{
		background-color:#4CAF50;
	border:none;
	padding:10px;
		text-decoration:none;
		color:white;
	border:1px solid #4CAF50;

}
.olympics-rings{
	display:flex;
		gap:10px;
		justify-content:center;

}
.ring{

	border:3px solid;
	height:80px;
	width:80px;
	border-radius:50%;
}
.ring1{
	color:blue;
}
.ring2{
	color:green;
}
.ring3{
	color:red;
}
.ring4{
	color:yellow;
}
.ring5{
	color:black;
}
.price-container{
	margin:30px;
}
.price-content img{
height:300px;
border-radius:20px;
margin-right:100px;

}
.price-item h3{
	background-color:#4CAF50;
	color:white;
	padding:10px;
	border-radius:10px;
}
.price-item{
	margin:20px;
}
.price{
	margin:20px;
	align-items:center;
}
.price-content{
	display:flex;
	justify-content:center;
	align-items:center;
}
.sponsor-container{
	margin-top:20px;
	text-align:center;
	color:#333333;

}

.line{
	border-bottom:solid 1px black;
	width: 500px;
}
.sponsor-content{
		display:flex;
justify-content:center;
align-items:center;	

}
.about-container{
	margin:40px;
	text-align:center;
	background-color:#4CAF50;
	border-radius:40px;
	height:400px;
	color:white;
}
.about2{
	text-align:center;
	color:#4CAF50;
}
.about-item{
	display:grid;
	grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
}
.about-item .item{
	border-radius:20px;
	margin:20px;
	height:150px;
	border:2px solid #4CAF50;
	
}
.about-item h3{
	margin-top:20px;
}
.footer{
	text-align:center;
}
@media(max-width: 767px) {
	body{
		font-size:smaller;
		
	}
	header{
		flex-direction:column;
	}
	.hero-container{
				flex-direction:column;

	}
	.olympics-rings{
		flex-wrap:wrap;
	}
	.sponsor-content,.price-content{
		flex-direction:column;
		
	}
	.about-container{
	margin:10px;

	}
}